.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.register-box select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.register-box h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.register-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.register-box button {
  width: 100%;
  padding: 10px;
  margin-top: 20px; /* space between input and button */
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.register-box button:hover {
  background-color: #0056b3;
}

.link-text {
  text-align: center;
  margin-top: 15px;
}

.link-text a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}